<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styleLe.css">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <title>@LESSA</title>

</head>

<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="sidebar col-auto col-md-3 col-xl-2 px-sm-2 px-0 ">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="/" class="d-flex align-items-center pb-5 ">
                        <img class="form-title img-responsive w-100" src="images/Logo.png">
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                        id="menu">
                        <li class="nav-item">
                            <a href="ppal.html" class="nav-link align-middle px-0 d-block text-light p-3">
                                <i class="icon ion-md-home lead mr-2"></i> 
                                <span class="ms-1 d-none d-sm-inline">Principal</span>
                            </a>
                        </li>
                        <li>
                            <a href="lecciones.html" class="nav-link px-0 align-middle d-block text-light p-3">
                                <i class="icon ion-md-bookmarks  mr-2 lead"></i> 
                                <span class="ms-1 d-none d-sm-inline">Lecciones</span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-0 align-middle d-block text-light p-3">
                                <i class="icon ion-md-today lead mr-2"></i> 
                                <span class="ms-1 d-none d-sm-inline">Evaluaciones</span></a>
                        </li>
                            <a href="#" class="nav-link px-0 align-middle d-block text-light p-3">
                                <i class="icon ion-md-stats lead mr-2"></i> <span
                                    class="ms-1 d-none d-sm-inline">Estadísticas</span></a>
                        </li>
                    </ul>
                    <hr>
                    <div class="dropdown pb-4">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                            id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://fortmyersradon.com/wp-content/uploads/2019/12/dummy-user-img-1.png"
                                alt="hugenerd" width="30" height="30" class="rounded-circle">
                            <span class="d-none d-sm-inline mx-1">User</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                            <li><a class="dropdown-item" href="#">Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--Navbar-->
            <div class="navp col py-0 w-100">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon "></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <h1 class="navbar-brand text-white">Evaluaciones</h1>
                        </div>
                    </div>
                </nav>
            
            <!---->
            <div class="est">
            <div id="page-content" class="row d-print-block">
                <div id="region-main-box" class="esta col-12">
    
                    <section id="region-main">
                        <div class="card">
                            <div class="card-body">
                                <span class="notifications" id="user-notifications"></span>
                                <div role="main"><span id="maincontent"></span><h2>Reporte de usuario</h2><div class="grade-navigation"><ul class="nav nav-tabs mb-3">
            
            </ul></div><br />
                <table cellspacing='0'
                    cellpadding='0'
                    class='boxaligncenter generaltable user-grade'>
                <thead>
                    <tr>
                        <th id='itemname' class="header column-itemname" colspan='2'></th>
                        <th id='grade' class="header column-grade">Calificación</th>
                        <th id='range' class="header column-range">Rango</th>
                    </tr>
                </thead>
            <tbody>
            <tr>
                <td class='level1 levelodd oddd1 b1t b2b b1l column-leader' rowspan='12'></td>
                <th id=''  class='level1 levelodd oddd1 b1b b1t column-itemname' colspan='7'><i class="icon fa fa-folder fa-fw icon itemicon"  title="Categoría" aria-label="Categoría"></i>@LESSA</th>
            </tr>
            <tr>
                <th id=''  class='level2 leveleven item b1b column-itemname' colspan='1'><a title="" class="gradeitemheader" href=""><ion-icon name="document-text-outline"></ion-icon>Tarea N° 1: Inscripción grupos etc.</a></th>
                <td  headers='cat_324_20402 row_787_20402 grade' class='nota level2 leveleven item b1b itemcenter  column-grade' >-</td>
                <td  headers='cat_324_20402 row_787_20402 range' class='notas level2 leveleven item b1b itemcenter  column-range' >0&ndash;10</td>
                <td  headers='cat_324_20402 row_787_20402 feedback' class='level2 leveleven item b1b feedbacktext column-feedback' >&nbsp;</td>
            </tr>
            <tr>
                <th id=''  class='level2 leveleven item b1b column-itemname' colspan='1'><a title="" class="gradeitemheader" href=""><ion-icon name="document-text-outline"></ion-icon>Tarea N° 1: Inscripción grupos etc.</a></th>
                <td  headers='cat_324_20402 row_787_20402 grade' class='nota level2 leveleven item b1b itemcenter  column-grade' >-</td>
                <td  headers='cat_324_20402 row_787_20402 range' class='notas level2 leveleven item b1b itemcenter  column-range' >0&ndash;10</td>
                <td  headers='cat_324_20402 row_787_20402 feedback' class='level2 leveleven item b1b feedbacktext column-feedback' >&nbsp;</td>
            </tr>
            <tr>
                <th id=''  class='level2 leveleven item b1b column-itemname' colspan='1'><a title="" class="gradeitemheader" href=""><ion-icon name="document-text-outline"></ion-icon>Tarea N° 1: Inscripción grupos etc.</a></th>
                <td  headers='cat_324_20402 row_787_20402 grade' class='nota level2 leveleven item b1b itemcenter  column-grade' >-</td>
                <td  headers='cat_324_20402 row_787_20402 range' class='notas level2 leveleven item b1b itemcenter  column-range' >0&ndash;10</td>                    
                <td  headers='cat_324_20402 row_787_20402 feedback' class='level2 leveleven item b1b feedbacktext column-feedback' >&nbsp;</td>
            </tr>
            </tbody></table></div>
                                
                            </div>
                        </div>      
                    </section>
                </div>
            </div>
        </div>    
        </div>
        </div>
            </div>
        </div>
        <!-- Optional JavaScript; choose one of the two! -->

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>

        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
</body>

</html>